{{> "slots/_doctype"}}
<html>
  <head>
    {{> "slots/_charset"}}
    {{> "slots/_meta"}}
    <title>Vue Router</title>
    {{> "slots/_head_end"}}
  </head>
  <body>
    <div id="page">私人域/aa待sssaaaaabbcc建设</div>
    {{> "slots/_body_end"}}
  </body>
</html>
